.app {
  display: flex;
  height: 100%;
}

.chat-list {
  min-width: 300px;
  height: 100%;
  background: dimgray;
}

.chat-item {
  padding: 5px;
  display: flex;
}

.chat-item:hover {
  background: cornflowerblue;
  cursor: pointer;
}

.chat-logo-container {
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.chat-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
